.nav-links{
    display:flex;
    align-items:center;
    gap:25px;
    list-style:none;
}

.nav-links a{
    text-decoration:none;
    color:white;
    transition:0.3s;
}

.nav-links a:hover{
    color:#00bcd4;
}

.hire-btn{
    background:#00bcd4;
    color:white !important;
    padding:10px 20px;
    border-radius:30px;
    font-weight:bold;
}

.hire-btn:hover{
    background:#0097a7;
}
.project-links{
    display:flex;
    gap:15px;
    margin-top:20px;
    flex-wrap:wrap;
}

.btn{
    display:inline-block;
    padding:12px 24px;
    background:#111;
    color:#fff;
    text-decoration:none;
    border-radius:8px;
    transition:0.3s ease;
    font-weight:600;
}

.btn:hover{
    transform:translateY(-5px) scale(1.05);
    background:#ff6600;
    box-shadow:0 10px 20px rgba(0,0,0,0.3);
}
